

.preprocessor {display: block; overflow: hidden; width: auto; background: #ddd; border-radius: 5px; margin: 0 0 10px}
.preprocessor label,
.preprocessor div.description {position: relative; float: left; padding-top: 10px; padding-bottom: 10px}


/*.preprocessor label {width: 210px; right: 210px; _right: 0px; margin: 0 0 0 -100%}
.preprocessor label .input_radio {top: 5px}*/

.preprocessor .input_radio {
	display: inline-block;
	text-align: center;
	padding-top: 30px;
}
.preprocessor .logo {
	display: inline-block;
	text-align: center;
}
.preprocessor img {
	max-width: 80%;
	height: auto;
	margin: 15px 0;
}

.preprocessor h2 {margin-top: 0}
